@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: auto;
}

.mb-5 {
    margin-bottom: 0.5em;
}

.mb-20 {
    margin-bottom: 2em;
}

.ml-10 {
    margin-left: 1em;
}



/* Header */
header {
    background-color: black;
    color: #fff;
    height: 4vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.conthead {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

header img {
    width: 2%;
    height: 2%;
    margin: 0 5px;
}

.grey {
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 78vh;
}



/* Navbar */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 14vh;
}

nav h2 {
    font-size: 1.1rem;
}

nav h2 a {
    text-decoration: none;
    color: black;
}

.navl ul,
.navr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    font-size: 0.9rem;
    color: black;
    font-weight: bold;
}

.navtab a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
}

.navtab a:hover {
    color: grey;
    transition: 0.2s;
}


.btn a {
    color: #fff;
    text-decoration: none;
    background-color: black;
    padding: 15px 18px;
    border-radius: 4px;
    border: 1px solid black;
}


/* Main Section */
.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.txthero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.txthero h1 {
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    line-height: 3rem;
    font-size: 2.5rem;
    color: rgb(26, 26, 26);
}

.mail {
    margin-right: 10px;
}

.mail h5 {
    color: rgb(189, 189, 189);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 18px 30px;
    border-radius: 4px;
    border: 1px solid rgb(189, 189, 189);
}

.txt1 {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2rem;

}

.txt1 i {
    font-size: 1.2rem;
    margin-right: 0.7em;
}

.txt1 h5 {
    font-size: 0.9rem;
    color: grey;
    font-weight: 800;
}

.mailcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.imghero img {
    width: 310px;
}

.imgherotab img {
    width: 310px;
    display: none;
}

.imgheromob img {
    width: 310px;
    display: none;
}


/* Logos Section */
.logos {
    width: 100%;
    height: 17vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos img {
    width: 110px;
}


/* Phone Section */
.content2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 400px;
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
}

.content2 .txt {
    padding-left: 80px;
}

.content2 .txt h2,
.imgedit .txt h2 {
    margin-bottom: 0.8rem;
    line-height: 2.5rem;
    font-size: 2rem;
    color: rgb(26, 26, 26);
}

.content2 .txt p,
.txthero p,
.imgedit .txt p {
    margin-bottom: 0.8rem;
    line-height: 1.5rem;
    color: grey;
}

.content2 .txt a,
.imgedit .txt a {
    margin-bottom: 0.8rem;
    line-height: 1.5rem;
    color: grey;
    font-weight: bold;
}

.container .phone img {
    width: 500px;
    padding-top: 54px;
}

.container .phonetab img {
    display: none;
}

.container .phonemob img {
    display: none;
}


/* Editor section */
.imgedit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
}

.imgeditor img {
    width: 550px;
}




/* Footer */
footer {
    width: 100%;
    height: 30vh;
    background-color: black;
    color: white;
    padding-top: 2em;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    
}

.sitemap {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    line-height: 2rem;
}

.sitemap a {
    text-decoration: none;
    color: grey;
}

.sitemap a:hover {
    color: white;
    transition: 0.2s;
}

.footercont {
    line-height: 1.5rem;
}

.footercont h2 a {
    color: white;
    text-decoration: none;
}

.footercont h2 {
    margin-bottom: 0.5em;
}

.footercont p {
    color: grey;
}




/* Mobile */

@media only screen and (max-width:768px) {

    .navtab {
        display: flex;
        margin: 0;
    }

    .container {
        width: 90%;
        margin: auto;
    }

    .grey {
        background-color: rgb(230, 230, 230);
        width: 100%;
        height: 880px;
    }

    header {
        height: 5vh;
    }

    .conthead {
        text-align: center;
    }

    nav {
        height: 11vh;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
    }

    .imghero img {
        display: none;
    }

    .imgherotab img {
        display: flex;
        width: 100%;
    }

    .txthero {
        top: 100px;
        margin-top: 1em;
    }

    .logos {
        height: 10vh;
    }

    .logos a:nth-child(8),
    .logos a:nth-child(7),
    .logos a:nth-child(6) {
        display: none;
    }

    .container .phone img {
      display: none;
    }
    
    .container .phonetab img {
        display: block;
        width: 400px;
    }

    .content2 {
        height: 550px;
        justify-content: flex-end;
        align-items: center;
    }

    .content2 .txt {
        padding: 0 3em 0 0;
    }
    
    .imgedit {
        display: flex;
        flex-direction: column-reverse;
        align-items:flex-start;
        margin-top: 3em;
    }

    .imgeditor {
        margin-left: 5em;
    }

    footer {
        width: 100%;
        height: 50vh;
    }

    .footer {
       grid-template-columns:  repeat(4, 1fr);
       grid-gap: 2em;
       padding-top: 2em;
    }

    .footercont {
        display: grid;
        grid-column: 1/3;
    }

}