@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: auto;
}

.mb-5 {
    margin-bottom: 0.5em;
}

.mb-20 {
    margin-bottom: 2em;
}

.ml-10 {
    margin-left: 1em;
}



/* Header */
header {
    background-color: black;
    color: #fff;
    height: 4vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.conthead {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

header img {
    width: 1em;
    height: 1em;
    margin: 0 0.6em;
}

.grey {
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 74vh;
}



/* Navbar */
header {
    height: 5vh;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 14vh;
}

nav .hamb {
    display: none;
}

nav .close {
    display: none;
}


nav h2 {
    font-size: 1.1rem;
}

nav h2 a {
    text-decoration: none;
    color: black;
}

.navl ul,
.navr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    font-size: 0.9rem;
    color: black;
    font-weight: bold;
}

.navtab {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.navtab .navl {
    margin-right: 10em;
}

.navtab a {
    margin-left: 1.5em;
    text-decoration: none;
    color: black;
}

.navtab a:hover {
    color: grey;
    transition: 0.2s;
}

.btn a {
    color: #fff;
    text-decoration: none;
    background-color: black;
    padding: 0.8em 1em;
    border-radius: 0.3em;
}


/* Main Section */
.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.txthero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.txthero h1 {
    margin: 0.4em 0;
    line-height: 3rem;
    font-size: 2.5rem;
    color: rgb(26, 26, 26);
}



.txt1 {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2rem;

}

.txt1 i {
    font-size: 1.2rem;
    margin-right: 0.7em;
}

.txt1 h5 {
    font-size: 0.9rem;
    color: grey;
    font-weight: 800;
}

.mailcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2em;
}

.mail {
    margin-right: 1em;
}

.mail h5 {
    color: rgb(189, 189, 189);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 0.9em 2em;
    border-radius: 0.3em;
    border: 1px solid rgb(189, 189, 189);
    font-size: 0.9rem;
}

.imghero img {
    width: 310px;
}

.imgherotab img {
    width: 310px;
    display: none;
}

.imgheromob img {
    width: 310px;
    display: none;
}


/* Logos Section */
.logos {
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos img {
    width: 6.5em;
}


/* Phone Section */
.content2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 400px;
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
}

.content2 .txt {
    padding-left: 6em;
}

.content2 .txt h2,
.imgedit .txt h2 {
    margin-bottom: 0.4em;
    line-height: 2.5rem;
    font-size: 2rem;
    color: rgb(26, 26, 26);
}

.content2 .txt p,
.txthero p,
.imgedit .txt p {
    margin-bottom: 0.8rem;
    line-height: 1.5rem;
    color: grey;
}

.content2 .txt a,
.imgedit .txt a {
    margin-bottom: 0.8rem;
    line-height: 1.5rem;
    color: grey;
    font-weight: bold;
}

.container .phone img {
    width: 500px;
    padding-top: 3.3em;
}

.container .phonetab img {
    display: none;
}

.container .phonemob img {
    display: none;
}


/* Editor section */
.imgedit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
}

.txt {
    max-width: 40%;
}

.imgeditor img {
    width: 550px;
}


/* Footer */
footer {
    width: 100%;
    height: 28vh;
    background-color: black;
    color: white;
    padding-top: 2em;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.sitemap {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    line-height: 2rem;
}

.sitemap a {
    text-decoration: none;
    color: grey;
}

.sitemap a:hover {
    color: white;
    transition: 0.2s;
}

.footercont {
    line-height: 1.5rem;
    max-width: 40%;
}

.footercont h2 a {
    color: white;
    text-decoration: none;
}

.footercont h2 {
    margin-bottom: 0.5em;
}

.footercont p {
    color: grey;
}




/* Mobile */

@media only screen and (max-width:768px) {


    .container {
        width: 90%;
        margin: auto;
    }

    .grey {
        background-color: rgb(230, 230, 230);
        width: 100%;
        height: 880px;
    }

    /* Header TAB*/
    header {
        height: 5vh;
    }

    .conthead {
        text-align: center;
    }

    /* Navbar TAB*/
    nav {
        height: 11vh;
    }

    .navtab .navl {
        margin-right: 0;
    }

    /* Main Section TAB*/
    .content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
    }

    .imghero img {
        display: none;
    }

    .imgherotab img {
        display: flex;
        width: 100%;
    }

    .txthero {
        top: 100px;
        margin-top: 1em;
    }

    /* Logos Section TAB*/
    .logos {
        height: 10vh;
    }

    .logos a:nth-child(8),
    .logos a:nth-child(7),
    .logos a:nth-child(6) {
        display: none;
    }


    /* Phone Section TAB*/
    .container .phone img {
        display: none;
    }

    .container .phonetab img {
        display: block;
        width: 400px;
    }

    .content2 {
        height: 550px;
        justify-content: flex-end;
        align-items: center;
    }

    .content2 .txt {
        padding: 0 3em 0 0;
    }


    /* Editor section TAB*/
    .imgedit {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: 3em;
    }

    .imgeditor {
        margin-left: 5em;
    }

    .txt {
        max-width: 100%;
    }

    /* Footer TAB*/
    footer {
        width: 100%;
        height: 40vh;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2em;
        grid-row-gap: 2em;
        margin-top: 2em;
    }

    .footercont {
        display: grid;
        grid-column: 1/3;
        padding-right: 1em;
        max-width: 100%;
    }

}


@media only screen and (max-width:600px) {

    .grey {
        background-color: rgb(230, 230, 230);
        width: 100%;
        height: 830px;
    }

  

    /* Header MOB*/
    header {
        height: 10vh;
    }

    /* Navbar MOB*/
    .navtab {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 53vh;
        background-color: rgba(0, 0, 0, 0.95);
        width: 100%;
        z-index: 1000;
        top: 8em;
        left:0;
        display: none;
        animation: navmobanim 0.8s ease-out forwards;
        border-radius: 0.2em;
    }

    @keyframes navmobanim {
        0% {left: -100%;}
        100% {left: 0%;}
    }

    .navtab.show {
        display: flex;
    }

    nav .hamb {
        display: flex;
    }

    nav .hamb.close {
        display: none;
    }

    nav .hamb:hover {
        cursor: pointer;
        transition: 0.1s ease-in;
    }

    nav .close {
        display: flex;
        height: 20px;
        display: none;
    }

    nav .close.show {
        display: flex;
    }

    nav .close {
        cursor: pointer;
        transition: 0.1s ease-in;
    }

    nav .navtab a {
        margin: 0;
        padding: 0;
        color: white;
    }

    .navl ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    nav .navtab li {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }

    .navtab .btn a {
        display: none;
    }


    /* Main SectionMOB */
    .imgherotab img {

        display: none;
    }

    .imgheromob img {
        display: flex;
        width: 100%;
    }

    .txthero h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .container .phone img {
        display: none;
    }

    .container .phonetab img {
        display: block;
        width: 400px;
    }


    /* Logos Section MOB*/
    .logos a:nth-child(8),
    .logos a:nth-child(7),
    .logos a:nth-child(6),
    .logos a:nth-child(5),
    .logos a:nth-child(4) {
        display: none;
    }


    /* Phone Section MOB*/
    .container .phonetab img {
        display: none;
    }

    .container .phonemob img {
        display: block;
        width: 100%;
    }

    .content2 .txt {
        padding: 0em 2.5em 0 2.5em;
    }

    .content2 {
        height: 670px;
        justify-content: flex-end;
        align-items: center;
    }

    /* Editor section MOB*/

    .txt {
        max-width: 100%;
    }

    .content2 .txt h2,
    .imgedit .txt h2 {
        margin-bottom: 0.2em;
        line-height: 2rem;
        font-size: 1.5rem;
    }

    .imgeditor img {
        width: 350px;
    }
    
    .imgedit {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: 3em;
    }

    .imgeditor {
        margin-left: 0;
    }


    /* Footer MOB*/
    footer {
        width: 100%;
        height: 70vh;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        margin-top: 0em;
        padding: 0.7em;
    }

    .footercont {
        display: grid;
        grid-column: 1/3;
        padding: 0;
        margin-bottom: 1em;
    }

    .sitemap {
        line-height: 1.6rem;
    }

}